/* body {
  font-family: arial;
}

#hello {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hello input {
  height: 40px;
  border-radius: 10px;
  box-shadow: none;
  outline-width: 0;
  border: solid thin gray;
  text-align: center;
}

.center-about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: black 1px dotted;
}

#about-me-text {
  display: flex;
  align-items: center;
}

#navigation-bar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation-bar a {
  color: black;
  text-decoration: none;
}

#navigation-bar ul {
  padding: 0;
}

#navigation-bar li {
  display: inline;
  margin: 10px;
  cursor: pointer;
}

.center-container {
  display: flex;
  justify-content: center;
  border-bottom: black 1px dotted;
}

.vertical-center-elements {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
